* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  /* overflow: hidden; */
  padding: 0.5rem;
}

.text-center {
  text-align: center;
}

.rounded {
  border-radius: 5px;
}
.border {
  border: 1px solid #ccc;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 0.8rem;
}

.fw-bold {
  font-weight: bold;
}
